.status_code {
    opacity: 0.075;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px black;
    font-size: clamp(10vw, 60vw, 100vw);
    position: absolute;
    pointer-events: none;
}
