name: Backend CI

on: push

jobs:
    ci:
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]
        runs-on: ${{ matrix.os }}

        steps:
            - name: Check out code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 2

            - uses: pnpm/action-setup@v4
              with:
                  version: 8

            - name: Setup Node.js environment
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "pnpm"

            - name: Install dependencies
              run: |
                  cd backend-nest
                  pnpm install

            - name: Build
              run: |
                  cd backend-nest
                  pnpm build

            - name: Test
              run: |
                  cd backend-nest
                  pnpm test

            - name: Test e2e
              run: |
                  cd backend-nest
                  echo "GOLEMIO_API_KEY=${{ secrets.GOLEMIO_TOKEN }}" > .env
                  pnpm test:e2e

            - name: Lint
              run: |
                  cd backend-nest
                  pnpm lint

    docker:
        runs-on: ubuntu-latest
        needs: ci

        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                  context: ./backend-nest/
                  push: ${{ github.ref == 'refs/heads/master' }}
                  tags: krystxf/metro-now-backend:latest
